# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
env.bak/
env1/
env2/
.env

# IDE
.idea/
.vscode/

# Logs
*.log

# Build
build/
dist/
*.egg-info/
*.egg

# Cache
*.cache/

# Miscellaneous
*.bak
*.swp
*.tmp
*~
.DS_Store
/.venv/
/ai4edu_api_volume_local/
/volume_cache/

# PostgreSQL

password.txt

# Direnv

.direnv
result

# Nginx

ssl
/.env.backup
/.env.base64
/main.ipynb
/.env.online
/jwt_keys/

# OpenAPI

openapi.yaml
openapi/

# Ruff

.ruff_cache